@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: 50px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
