<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海绵宝宝-登录注册</title>
    <link rel="stylesheet" href="/css/allBase.css">
    <link rel="stylesheet" href="/css/loginRegister.css">
</head>
<body>
<div class="navDiv">
    <img src="/resource/image/groupPhoto01.jpg" alt="groupPhoto01">
    <img src="/resource/image/logo.png" alt="logo">
</div>
<header class="navHeader">
    <ul>
        <li>
            <a th:href="@{'/homePage'}">首页</a>
        </li>
        <li class="tabLi">
            <a th:href="@{'/roleIntroduction'}">角色介绍 &#x25bc;</a>
            <ul class="tabUl">
                <li><a href="#">海绵宝宝</a></li>
                <li><a href="#">派大星</a></li>
                <li><a href="#">章鱼哥</a></li>
                <li><a href="#">蟹老板</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{'/representativeWork'}">代表作品</a>
        </li>
        <li>
            <a th:href="@{'/contactWithMe'}">与我交流</a>
        </li>
        <li>
            <a th:href="@{'/loginRegister'}" style="background-color: rgb(110, 139, 45);">登录注册</a>
        </li>
    </ul>
</header>

<main>
    <h2>登录</h2>
    <form id="loginForm" th:action="@{/login}" th:object="${user}" method="post">
        <div class="rowDiv">
            <label for="loginEmail">QQ邮箱</label>
            <input type="email" id="loginEmail" name="loginEmail" placeholder="请输入您的QQ邮箱" required
                   th:field="*{email}">
            <div id="loginEmailError" class="errorMessage"></div>
        </div>
        <div class="rowDiv">
            <label for="loginPassword">密码</label>
            <input type="text" id="loginPassword" name="loginPassword" placeholder="请输入您的密码" required
                   th:field="*{password}">
            <div id="loginPasswordError" class="errorMessage"></div>
        </div>
        <div class="rowDiv">
            <button type="submit">登录</button>
        </div>
    </form>
    <h2>注册</h2>
    <form id="registerForm">
        <div class="rowDiv">
            <div class="colDiv">
                <label for="registerName">姓名</label>
                <input type="text" id="registerName" name="registerName" placeholder="请输入您的姓名" required>
                <div id="registerNameError" class="errorMessage"></div>
            </div>
            <div class="colDiv">
                <label for="registerEmail">QQ邮箱</label>
                <input type="email" id="registerEmail" name="registerEmail" placeholder="请输入您的QQ邮箱"
                       required>
                <div id="registerEmailError" class="errorMessage"></div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <label for="registerPassword">密码</label>
                <input type="text" id="registerPassword" name="registerPassword" placeholder="请输入您的密码"
                       required>
                <div id="registerPasswordError" class="errorMessage"></div>
            </div>
            <div class="colDiv">
                <label for="registerConfirmPassword">确认密码</label>
                <input type="text" id="registerConfirmPassword" name="registerConfirmPassword"
                       placeholder="请确认您的密码" required>
                <div id="registerConfirmPasswordError" class="errorMessage"></div>
            </div>
        </div>
        <div class="rowDiv">
            <div class="colDiv">
                <input type="checkbox" id="registerAccord" name="registerAccord" required>
            </div>
            <div class="colDiv">
                <label for="registerAccord" class="accord">我同意接受条款和条件</label>
            </div>
        </div>
        <div class="rowDiv">
            <button type="submit">注册</button>
        </div>
    </form>
</main>

<button id="topButton" onclick="toTop()">▲</button>

<footer>
    &copy;软工21101班雷冰玉&nbsp;邱鹏
</footer>
</body>
<script src="/js/allBase.js"></script>
<script src="/js/loginRegister.js"></script>
</html>