<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>海绵宝宝-用户中心</title>
    <link href="/css/allBase.css" rel="stylesheet">
    <link href="/css/userCenter.css" rel="stylesheet">
</head>
<body>
<div class="navDiv">
    <img alt="groupPhoto01" src="/image/groupPhoto01.jpg">
    <img alt="logo" src="/image/logo.png">
</div>
<header class="navHeader">
    <ul>
        <li>
            <a th:href="@{'/homePage'}">首页</a>
        </li>
        <li class="tabLi">
            <a th:href="@{'/roleIntroduction'}">角色介绍 &#x25bc;</a>
            <ul class="tabUl">
                <li><a href="#">海绵宝宝</a></li>
                <li><a href="#">派大星</a></li>
                <li><a href="#">章鱼哥</a></li>
                <li><a href="#">蟹老板</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{'/representativeWork'}">代表作品</a>
        </li>
        <li>
            <a th:href="@{'/contactWithMe'}">与我交流</a>
        </li>
        <li>
            <a style="background-color: rgb(110, 139, 45);" th:href="@{'/loginRegister'}">用户中心</a>
        </li>
    </ul>
</header>

<main>
    <h2>用户列表</h2>
    <table>
        <thead>
        <tr>
            <th scope="col">UID</th>
            <th scope="col">名字</th>
            <th scope="col">密码</th>
            <th scope="col">角色</th>
            <th scope="col">状态</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${allUser}">
            <td th:text="${user.getUid()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getRole()}"></td>
            <td th:text="${user.getStatus()}"></td>
        </tr>
        </tbody>
    </table>
</main>

<button id="topButton" onclick="toTop()">▲</button>

<footer>
    &copy;软工21101班雷冰玉&nbsp;邱鹏
</footer>
</body>
<script src="/js/allBase.js"></script>
<script src="/js/userCenter.js"></script>
</html>