<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--唯一文件标识-->
<mapper namespace="spongeBob.mapper.UserMapper">
    <!--唯一语句标识-->
    <insert id="addUser" parameterType="User">
        <choose>
            <when test="uid == null or name == null or password == null or role == null or status == null or birthday == null or email == null">
                insert into user (name, password, role, email, status)
                values ('0', '0', 2, 'email@email.com', 0)
            </when>
            <otherwise>
                insert into user (name, password, birthday, role, email, address, status, login_time, register_time)
                values (#{name}, #{password}, #{birthday}, #{role}, #{email}, #{address}, #{status}, #{loginTime},
                #{registerTime})
            </otherwise>
        </choose>
    </insert>
    <delete id="deleteUser">
        delete
        from user
        where uid = #{uid}
    </delete>
    <update id="updateUser">
        update user
        set name          = #{name},
            password      = #{password},
            birthday      = #{birthday},
            role          = #{role},
            email         = #{email},
            address       = #{address},
            status        = #{status},
            login_time    = #{loginTime},
            register_time = #{registerTime}
        WHERE uid = #{uid}
    </update>
    <select id="findUserByUid" resultType="User">
        select *
        from user
        WHERE uid = #{uid}
    </select>
    <select id="findUserByEmail" resultType="User">
        select *
        from user
        WHERE email = #{email}
    </select>
    <select id="findAllUser" resultType="User">
        select *
        from user;
    </select>
</mapper>
