<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">添加用户</h2>
    <form method="post" th:action="@{/addUser}">
        <div class="form-group">
            <label for="uid">UID:</label>
            <input class="form-control" id="uid" name="uid" placeholder="请输入用户的UID" type="text">
        </div>
        <div class="form-group">
            <label for="name">姓名:</label>
            <input class="form-control" id="name" name="name" placeholder="请输入用户的姓名" type="text">
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input class="form-control" id="password" name="password" placeholder="请输入用户的密码" type="text">
        </div>
        <div class="form-group">
            <label for="role">角色:</label>
            <input class="form-control" id="role" name="role" placeholder="请输入用户的角色" type="text">
        </div>
        <div class="form-group">
            <label for="status">状态:</label>
            <input class="form-control" id="status" name="status" placeholder="请输入用户的状态" type="text">
        </div>
        <button class="btn btn-primary btn-block" type="submit">点击添加</button>
    </form>
</div>
</body>
</html>
