<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center">修改用户</h2>
    <form th:action="@{/updateUser}" method="post">
        <div class="form-group">
            <label for="uid">UID:</label>
            <input type="text" name="uid" th:value="${user.getUid()}" th:readonly="true" class="form-control" id="uid"
                   placeholder="请输入修改的UID">
        </div>
        <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" name="name" th:value="${user.getName()}" class="form-control" id="name"
                   placeholder="请输入修改的姓名">
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input type="text" name="password" th:value="${user.getPassword()}" class="form-control" id="password"
                   placeholder="请输入修改的密码">
        </div>
        <div class="form-group">
            <label for="role">角色:</label>
            <input type="text" name="role" th:value="${user.getRole()}" class="form-control" id="role"
                   placeholder="请输入修改的角色">
        </div>
        <div class="form-group">
            <label for="status">状态:</label>
            <input type="text" name="status" th:value="${user.getStatus()}" class="form-control" id="status"
                   placeholder="请输入修改后的状态">
        </div>
        <button type="submit" class="btn btn-primary d-block mx-auto">点击修改</button>
    </form>
</div>
</body>
</html>
