<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="text-center">修改用户</h2>
    <form method="post" th:action="@{/updateUser}">
        <div class="form-group">
            <label for="uid">UID:</label>
            <input class="form-control" id="uid" name="uid" placeholder="请输入修改的UID" th:readonly="true"
                   th:value="${user.getUid()}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="name">姓名:</label>
            <input class="form-control" id="name" name="name" placeholder="请输入修改的姓名"
                   th:value="${user.getName()}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input class="form-control" id="password" name="password" placeholder="请输入修改的密码"
                   th:value="${user.getPassword()}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="role">角色:</label>
            <input class="form-control" id="role" name="role" placeholder="请输入修改的角色"
                   th:value="${user.getRole()}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="status">状态:</label>
            <input class="form-control" id="status" name="status" placeholder="请输入修改后的状态"
                   th:value="${user.getStatus()}"
                   type="text">
        </div>
        <button class="btn btn-primary d-block mx-auto" type="submit">点击修改</button>
    </form>
</div>
</body>
</html>
