main {
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-color: #f2f2f2;
    overflow: hidden;
}

main h2 {
    margin: 20px 0;
    width: 1160px;
    color: #333;
    text-align: center;
}

main form {
    margin: 0 auto;
    width: 1160px;
    border-radius: 5px;
}