<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisLog">
    <option name="settings_indexLog" value="false" />
    <option name="settings_simpleFormat" value="false" />
    <option name="settings_newLineWith" value="false" />
    <option name="settings_preparing" value="Preparing:" />
    <option name="settings_parameters" value="Parameters:" />
    <option name="settings_filterLines" value="" />
  </component>
</project>